@charset "utf-8";
/* CSS Document */

/* CSS RESET */
body,div,ul,li,span,a,img,p,h1,h2,h3,h4,h5,h6,em,i{padding:0; margin:0;}
a{text-decoration:none;}
a,img{border:none;}
ul,li{list-style:none;}
body{font: normal 100% Helvetica, Arial, sans-serif;
Font-size:62.5%;
color:#333333;
max-width:640px;
margin:auto;
}
dd{  -webkit-margin-start: 16px;
margin-left:16px;}

a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */

/*title*/
.header_container{
width:100%;
height:50px;

  max-width:640px;
  position:relative;}

.header{ 
position:fixed;
left:center;
    background:#01cc99;
 height:50px;
 width:100%;
   max-width: 640px;
}
.header1{position:fixed;
left:0;
top:0;
  width: 100%;
  background:#01cc99;
 margin:auto;}
.header li{
	float:left;
font-size:1.6em;
width: 33.33%;}
.header a{color:#a4e6d0;
line-height:3.4em;
display:block;
text-align:center;

}
.recent a{color:#ffffff;}

/*container*/
.friend_phone{padding-top:16px;
margin-left:4.445%;
margin-right:4.445%;
}
.container_wj{
margin-left:4.445%;
margin-right:4.445%;}/*左右间距*/
.friend_phone img{padding-right:4.8%;
float:left;}
.friend_phone input{float:left;}
.phone_text{font-size:1.4em;
height:48px;
line-height:48px;}
.line{height:1px; background-color:#d6d6d6;
width:100%;
clear:both;
margin-top:16px;}

/*apk*/
.apk_container{}
.apk_text{height:58px;
line-height:58px;
font-size:1.6em;
}
.apk_container img{  clear: both;
	float:left;
padding-right:4.8%;
margin:17px 0;}
.apk_68dp{clear:both; 
height:70px;}
.apk_68dp .icon img{max-width:80%;}
.container_wj a{ color:#333333;
  height: 70px;}

.apk_68dp .icon{float: left;
  clear: both;
  padding-right: 2%;
margin: 10px 0 15px 0;
  width: 18%;
  overflow: hidden;
  max-height: 52px;}
.apk_text1{
width:50%;
line-height:70px;
font-size:1.4em;
float:left;
overflow: hidden;
text-overflow: ellipsis;
  display:block;
 word-break:keap-all;
 white-space:nowrap;
}
.apk_text2{
line-height:70px;
font-size:1.2em;
color:#999999;
float:right;
padding-right:4.8%;
width: 18%;
text-align: center;
}

.apk_68dp .xz{float:right;
margin:22px 0;}
.jindutiao{ background:#01cc99;
height:3px;
clear:both;}
.jianxi{height:6px;
background-color:#f2f2f2;}
.line1{height:1px; background-color:#d6d6d6;
width:100%;}
/*send*/
.phone_text1{font-size:1.6em;
height:40px;
line-height:40px;
padding-bottom:15px;}
.friend_phone a{color:#333333;}
.apk_80dp .icon{clear:both;
float:left;
padding-right:4.8%;
margin:20px 0;}
.apk_80dp{clear:both; height:80px;}
.apk_text3{
font-size:1.6em;
padding-bottom:8px;}
.apk_text4,.apk_text5{font-size:1.2em;
color:#999999;}
.apk_text4{float:left;
padding-bottom:6px;}
.apk_text5{float:right;}
.apk_text6{float:right;
line-height:80px;
font-size:1.3em;
color:#999999;
width:16.5%;
text-align:center;}
.text{width:60%; 
float:left;
margin:15px 0;}

/*question*/
.apk_58dp{clear:both;
overflow:hidden;
}
.apk_58dp .xz{float:right;
margin:16px 0;}
.question{color:#ffffff;
font-size:1.6em;
line-height:3.4em;
float:left;
width:70%;
text-align:center;
}
.arrow{float:left; 
margin-left:4.445%;}
.arrow img{
padding:13px 0;}
.header1{width:100%;
height:50px;
}
.apk_text7{float:left;
font-size:1.6em;
padding-top:17px;
line-height:2em;
width:90%;
padding-bottom:17px;}
.line2{height:1px; background-color:#d6d6d6;
width:100%;
clear:both;}
.container{ background-color:#eeeeee;}
.container p{font-size:1.4em;
color:#333333;
line-height:2em;
padding:12px 10px;
}
/*关于*/
.wj_icon{ clear:both;
text-align:center;
width:100%;
padding-top:30px;}
.wj_jieshao{font-size:1.4em;
padding-top:20px;
text-align:center;
line-height:2em;
text-indent:32px;}

/*.jiange{padding-top:8px;}*/


/*yqaz*/
.friend_icon{ clear:both;
text-align:center;
padding-top:8%;
}
.friend_text{padding-top:15%;}
.friend_icon img{width:40%;}